.identificacao{
    color: rgb(89, 0, 255);
}

.imagens{
    width: 20%;
}

body{
    color:rgb(0, 0, 0);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
}