.identificacao{
    color: rgb(0, 0, 0);
}

.galeria{
    width: 40%;
}

body{
    background-color:rgb(111, 0, 255);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links{
    display: flex;
    flex-direction: column;
}

a{
    margin: 20px;
    padding: 20px;
    background-color: rgb(35, 0, 92);
    color: black;
    border-radius: 20px;
}